<h1>My Tasks</h1>

<% @tasks.each do |task| %>
  <% task_symb = task.completed ? "☑" : "☐" %>
  <p><%= task_symb %>   :  <%=  link_to task.title, task_path(task) %> <%= link_to "(delete)", task_path(task), method: :delete, data: { confirm: "Are you sure?" } %> </p>
<% end %>

<%= link_to '+ Create a new task', new_path %>
